<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>If_Else</title>
    <style>
        body{
            background-color: azure;
        }
        #first{
            border:2px solid black;
            background-color: yellow;
            color: blueviolet;
        }
        #second{
            border: 2px solid black;
            background-color: limegreen;
            color: brown;
        }
    </style>
</head>
<body>
    <center>
        <div id="first">
            <marquee behavior="alternate" scrollamount="30px"><h1>Welcome to Jinja If -Else </h1></marquee>
        </div>
        <div id="second">
            {% if age > 22 %}
                <h1>Name of Candidate : {{name}} age : {{age}} </h1>
                <h1>Elligible to Apply</h1>
            {% else %}
                <h1>Name of Candidate : {{name}} age : {{age}} </h1>
                <h1>Not Elligible Age is less</h1>
            {% endif %}
        </div>
    </center>
</body>
</html>